<mvc:View xmlns:core="sap.ui.core" xmlns:mvc="sap.ui.core.mvc" xmlns="sap.m" 
	xmlns:f="sap.ui.layout.form" 
	controllerName="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.{{projectName}}.controller.{{basicSAPUI5ApplicationProject.parameters.name2.value}}"
	xmlns:html="http://www.w3.org/1999/xhtml">
	<App>
		<pages>
			<Page showNavButton="true" navButtonPress="onNavBack">
					<f:SimpleForm id="SimpleFormChange" editable="false" layout="ResponsiveGridLayout" title="" singleContainerFullSize="false" labelSpanXL="4"
						labelSpanL="4" labelSpanM="12" labelSpanS="12" adjustLabelSpan="false" emptySpanXL="0" emptySpanL="0" emptySpanM="0" emptySpanS="0"
						columnsXL="2" columnsL="2" columnsM="1">
						<f:content>
							<core:Title text="Item Detail"/>
							<Label text="{i18n>objectId}"/>
							<Text text="{/ObjectId}"/>
							<Label text="{i18n>countryName}"/>
							<Text text="{/CountryName}"/>
							<Label text="{i18n>city}"/>
							<Text text="{/City}"/>							
							<Label text="{i18n>departureDate}"/>
							<Text text="{path : '/DepartureDate',
								type : 'sap.ui.model.type.DateTime',
								formatOptions:{pattern:'yyyy/MM/dd' 
									}}"/>
							<Label text="{i18n>returnDate}"/>
							<Text text="{path : '/ReturnDate',
								type : 'sap.ui.model.type.DateTime',
								formatOptions:{pattern:'yyyy/MM/dd' 
									}}"/>									
						</f:content>
					</f:SimpleForm>
			</Page>
		</pages>
	</App>
</mvc:View>