# This is the resource bundle for this application
title=MTK UI5 Template
#XTIT: Application name
appTitle={{projectName}}
#YDES: Application description
appDescription=App Description

#~~~ List View ~~~~~~~~~~~~~~~~~~~~~~~~~~
#XTIT: Worklist view title
listViewTitle=List View Title
#XTIT: The title of the column
countryName=Country Name
#XTIT: The title of the column
departureDate=Departure Date
#XTIT: The title of the column
returnDate=Return Date

#~~~ Detail View ~~~~~~~~~~~~~~~~~~~~~~~~~~
#XTIT: Detail view title
detailViewTitle=Details
#XTIT: The title of the column
city=City
#XTIT: The title of the column
objectId=Object ID

#~~~ Not Found View ~~~~~~~~~~~~~~~~~~~~~~~

#XTIT: Not found view title
notFoundTitle=Not Found

#YMSG: The Objects not found text is displayed when there is no Object with this id
noObjectFoundText=This Object is not available

#YMSG: The Objects not available text is displayed when there is no data when starting the app
noObjectsAvailableText=No Objects are currently available

#YMSG: The not found text is displayed when there was an error loading the resource (404 error)
notFoundText=The requested resource was not found

#XLNK: text for link in 'not found' pages
backTolist=Show List

#~~~ Error Handling ~~~~~~~~~~~~~~~~~~~~~~~

#YMSG: Error dialog description
errorText=Sorry, a technical error occurred! Please try again later.